# Dependencies
/node_modules

# Logs
npm-debug.log*

# Environment variables
.env

# Build outputs
/dist
/build

src/models/user.model.js
src/models/task.model.js
src/models/index.js

src/routes/task.route.js

src/services/task.service.js
